@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', 'Sans-serif';
}

html, body {
    background-color: #ddd;
}

header {
    background: purple;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a , a:hover {
    color: unset;
    text-decoration: none;
}
